<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/head :: head(Rol)"></head>

<body>
<header th:replace="fragmentos/header :: header"></header>

<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-6">
                <form th:action="@{/roles/crear}" th:object="${rol}" method="post" autocomplete="off"
                      class="needs-validation" novalidate>
                    <input type="hidden" th:field="*{id}">

                    <div class="form-floating mb-3">
                        <input type="text" th:field="*{nombre}" id="nombre" class="form-control" 
                               required>
                        <label for="nombre">Nombre</label>
                        <div class="invalid-feedback">Nombre es requerido</div>
                    </div>

                    <button type="submit" class="btn btn-primary">Crear</button>
                </form>
            </div>
        </div>
    </div>
</main>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/validation.js}"></script>
</body>

</html>