<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: head('Formulario autores')"></head>
<body>
    <header th:replace="fragmentos/header :: header"></header>
    <main>
        <div class="container">
            <div class="row mt-3">
                <div class="col">
                    <form th:action="@{/autores/__${action}__}" th:object="${autor}" method="post">
                        <input type="hidden" th:field="*{id}">
                        <div class="form-floating mt-3">
                            <input type="text" th:field="*{nombre}" class="form-control" id="nombre">
                            <label for="nombre">Nombre del autor</label>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary" th:text="${action == 'crear' ? 'Crear' : 'Actualizar'}"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer th:insert="fragmentos/scripts :: scripts"></footer>
</body>
</html>