<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/head :: head(Editoriales)"></head>
<body>
    <header th:replace="fragmentos/header :: header"></header>   
    <main>
        <div class="container">
          <div class="row mt-3">
            <div class="col lead">
              Editoriales
            </div>
          </div>
            <div class="row mt-3 justify-content-end">
                <div class="col-auto">
                    <a th:href="@{/editoriales/formulario}" class="btn btn-primary">Crear</a>
                </div>
            </div>
            <div th:if="${exito}" class="alert alert-success alert-dismissible fade show mt-3" role="alert">
              <span th:text="${exito}"></span>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <table class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Actualizar</th>
                            <th scope="col">Borrar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="editorial : ${editoriales}">
                            <td scope="row" th:text="${editorial.nombre}">nombrecito</td>
                            <td><a th:href="@{/editoriales/formulario/__${editorial.id}__}" class="btn btn-warning">Actualizar</a></td>
                            <td>
                                <form th:action="@{/editoriales/eliminar/__${editorial.id}__}" method="POST">
                                    <button class="btn btn-danger" type="submit">Eliminar</button>
                                </form>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </main> 
    <footer th:insert="fragmentos/scripts :: scripts"></footer>
</body>
</html>